.container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  height: 100vh;
  background-color: var(--primary);
  font-size: 3rem;
}

.array {
  background-color: var(--primary-blue);
  margin: 3rem;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--primary-contrast-light);
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  transition: transform 0.3s ease;
  width: auto;
  min-width: 50rem;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: var(--primary-light);
  color: var(--primary-contrast-dark);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  transform: scale(1.04);
}

.sortedNumbers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}