.header {
  height: 10rem;
  width: 100%;
  background-color: var(--primary-light);
}

.username {
  position: absolute;
  top: 4rem;
  left: 5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-dark);
}

.username::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: var(--primary-dark);
  transition: width 0.3s ease;
}

.username:hover::after {
  width: 100%;
}

.title {
  position: absolute;
  top: 3rem;
  left: 45%;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-dark);
  text-decoration: none;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background: var(--primary-dark);
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.title:hover::after {
  width: 100%;
  left: 50%;
}

.loginArea {
  position: absolute;
  top: 4rem;
  right: 40rem;
  font-size: 1.5rem;
  color: var(--primary-dark);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginArea a {
  text-decoration: none;
  color: var(--primary-dark);
  font-weight: 500;
}

.loginArea a:hover {
  transition: linear 0.1s;
  transform: scale(1.1);
}

.Separator {
  height: 1.5rem;
  border-left: 1px solid var(--primary-dark);
}

.themeToggle {
  position: absolute;
  top: 3.2rem;
  right: 20rem;
}

.themeToggle:hover {
  transition: linear 0.1s;
  transform: scale(1.1);
}

.cart {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.cart:hover {
  transition: linear 0.1s;
  transform: scale(1.1);
}

.cartIcon {
  height: 3rem;
  width: auto;
  text-decoration: none;
  color: var(--primary-dark);
}

.cartTotal {
  position: relative;
  right: 0.7rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-contrast);
  font-family: "Roboto Mono", "Fira Mono", "IBM Plex Mono", monospace;
  background-color: var(--primary);
  border-radius: 2rem;
  padding: 0.1rem 0.8rem;
}
