@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.container {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-columns: auto;
  grid-template-rows: 13rem auto 13rem;

  background: linear-gradient(to bottom, #010518 0%, #1e3a8a 100%);

  @media (max-width: 768px) {
    grid-template-columns: auto;
    grid-template-rows: 13rem auto 30rem;
  }
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
}
