.productCard {
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: var(--background);
  width: 40rem;
}

.productImage {
  width: 80%;
  border-radius: 4px;
}

.productTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 8px 0;
  color: var(--text);
}

.productDescription {
  font-size: 1rem;
  color: var(--accent);
}

.productPrice {
  font-size: 2rem;
  color: var(--accent);
  font-weight: bold;
  margin: 8px 0;
}

.productButton {
  background-color: var(--primary);
  color: var(--accent);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.productButton:hover {
  background-color: var(--primary-hover);
}

.productQty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
}
.productQty button {
  background-color: var(--primary);
  color: var(--accent);
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.productQty button:hover {
  background-color: var(--primary-hover);
}

.modal {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: var(--modal-overlay);
  backdrop-filter: blur(8px);
  display: flex; align-items: center; justify-content: center;
  z-index: 2000;
}
.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--modal-background);
  padding: 2rem;
  border-radius: 2rem;
  position: relative;
  min-width: 250px;
  max-width: 90vw;
  box-shadow: 0 2px 16px var(--shadow);
  color: var(--modal-text);
}

.modalContent h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--modal-text);
}

.modalContent p {
  font-size: 2rem;
  color: var(--modal-subtext);
}

.confirmButton {
  background-color: var(--button-background) !important;
  color: var(--button-text) !important;
  font-weight: bolder !important;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

.confirmButton:hover {
  background-color: var(--button-hover) !important;
  scale: 1.05;
}
