.container {
  gap: 2rem;
  padding: 2rem;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.searchInput {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--primary-light);
  color: var(--primary-contrast);
}

.searchInput:focus {
  outline: none;
  transition: linear 0.1s;
  box-shadow: 0 0 0 0.1rem var(--primary);
}

.clearButton {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--primary-light);
  color: var(--text);
}

.clearButton:hover {
  transition: linear 0.1s;
  transform: scale(1.1);
  background-color: var(--primary);
  color: var(--primary-contrast);
}

.productList {
  padding: 1rem 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
}
