@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header {
  grid-area: header;

  
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.title {
  font-family: 'Agency FB', Arial, sans-serif;
  padding: 2rem;
  color: var(--primary-blue);
  font-size: 5rem;
  font-weight: bolder;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.logo {
  color: var(--primary-blue);
  
}